html {
    background: linear-gradient(177.52deg, #539165 2.11%, #285430 81.34%);
    background-repeat: no-repeat;
    height: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif, cursive;
}

h2, footer {
    font-family: 'Josefin Sans';
}

button {
    border: none;
    background-color: #F7A4A4; 
    border-radius: 12px;
    padding: 10px;
    color: #285430;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #ecbfbf;
}

.input {
    border:none;
}

.itens-comprados {
text-decoration: line-through;
}

.borda-lista {
    border-bottom: dotted 2px #F7A4A4;
}

input:disabled {
    border: none;
    background: none;
    color: black;
}

input {
    border: none;
    background: none;
    color: black;
}

